<% const currentDate = new Date(); %>
<% const year = currentDate.getFullYear(); %>

<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; YelpCamp <%= year %></span> 
    </div>
</footer>